/*- Custom style -*/

// -- Put custom style under this point -- //
#post-page h1{
    color: #008A3C;
    font-weight: 700;
	font-size: 2em;
}
#post-page h2{
    font-weight: 700;
	font-size: 1.2em;	
}
#post-page time.by-line{
    font-weight: 500;
    font-size: 0.7em;	
	color: #c0c0c0;
}
#post-page .highlighter-rouge{
	margin: 1.3334em;
    padding: 0 1.33334em;
}

#post-page blockquote{
	border-left: 7px solid #008A3C !important;
	background-color: rgba(0, 138, 60, 0.05) !important;
	border-radius: 0;
	font-style: normal;
	font-size:0.7em;
	font-family:consolas;
}
#post-page pre.highlight{
	border-left: 7px solid #558abb !important;
    padding: 1em 0;
    background:url(../img/template/blueprint-dark.png) top center #fafbfc;
    overflow-x: auto;
}
#post-page code{
	background-color:transparent;
	font-family:consolas;
	font-size:0.7em;
	font-family:consolas;
}