/*- Custom style -*/

// -- Put custom style under this point -- //
#post-page h1{
	font-family: 'Jeju Gothic', serif;
    color: #008A3C;
    font-weight: 700;
}
#post-page h2{
	font-family: 'Jeju Gothic', serif;
    font-weight: 700;
}
#post-page h3{
	font-family: 'Jeju Gothic', serif;
}
#post-page time.by-line{
    font-weight: 500;
    font-size: 0.7em;
	color: #c0c0c0;
}
#post-page blockquote, #post-page .highlight code{
	font-family: 'Nanum Gothic Coding', serif;
	font-size:0.85em;
}
